*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/IMG/img01.png);
    background-position: center;
}
.fundo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: inherit;
    filter: blur(2px);
    z-index: 1;
}



/*Style Login*/
.casa{
    background-image: url(/IMG/img01.png);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white solid 2px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.itemCasa{
    flex-grow: 1;
    flex-basis: 200;
    display: flex;
    flex-direction: column;
}

.logoLogin{
    text-align: center;
}
.logoLogin span{
    font-family: "Bebas Neue", sans-serif;
    margin: 20px;
    font-size: 50px;
    color: white;
    align-items: center;
}
.logoLogin i{
    font-size: 120px;
    padding: 20px;
    color: white;
}

.userNameEmail{
    text-align: center;
}
.userNameEmail input{
    padding: 15px;
    margin-top: 20px;
    width: 90%;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    font-size: 19px;
    font-weight: 600;
}
.userNameEmail input:focus{
    transform: scale(1.2);
    text-align: center;
    font-size: 30px;
}

.Portas{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 40px;
    
}
.Portas nav{
    margin-left: 20px;
    
}
.Portas a{
    text-align: justify;
    padding: 20px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color: black;
} 
.Portas button{
    border-radius: 10px;
    width: 300px;
    min-width: 290px;
}

.EsqueciSenha{
    text-align: center;
    margin-bottom: 10px;
}
.EsqueciSenha button{
    border-radius: 8px;
}
.EsqueciSenha a{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}



/*Modelo Para Celular*/

@media (max-width: 730px) {
    .casa{
        background-image: url(/IMG/img01.png);
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: white solid 2px;
        border-radius: 20px;
        
        
    }
    .itemCasa{
        display: flex;
        flex-direction: column;
        
    }
    
    .logoLogin{
        text-align: center;
    }
    .logoLogin span{
        font-family: "Bebas Neue", sans-serif;
        margin: 20px;
        font-size: 80px;
        color: white;
        align-items: center;
    }
    .logoLogin i{
        font-size: 120px;
        padding: 10px;
        color: white;
    }
    
    .userNameEmail{
        text-align: center;
    }
    .userNameEmail input{
    margin-top: 90px;
    font-size: 22px;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    }
    .userNameEmail input:focus{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    
    .Portas{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Portas nav{
        margin-top: 20px;
    }
    .Portas a{
        text-decoration: none;
        padding: 30px;
        font-size: 23px;
        font-weight: 600;
        color: black;
    } 
    .Portas button{
        border-radius: 8px;
        text-align: center;
        
    }

    .EsqueciSenha{
        text-align: center;
        margin-bottom: 10px;
    }
    .EsqueciSenha button{
        margin-top: 10px;
        border-radius: 8px;
    }
    .EsqueciSenha a{
        padding: 20px;
        font-size: 23px;
        font-weight: 600;
        text-decoration: none;
        color: black;
    }
}
/*Fechamento Modelo Para Celular*/

/*Fechamento de Login*/